[submodule "hugo/themes/hello-friend-ng"]
	path = hugo/themes/hello-friend-ng
	url = https://github.com/rhazdon/hugo-theme-hello-friend-ng.git
[submodule "hugo/J-site/themes/hello-friend-ng"]
	path = hugo/J-site/themes/hello-friend-ng
	url = https://github.com/rhazdon/hugo-theme-hello-friend-ng.git
